.wrapper{
    margin-top: 125px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circular-progress{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #212529;
    position: absolute;
    display: grid;
    place-items: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 95%;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.timer-value{
    position: relative;
    z-index: 555;
}