<div class="row p-3 pb-0 pt-0">
  <div class="col-5 ps-0">
    <main class="form-signin m-auto text-center grotesk" style="max-width: 400px; height: 100vh; display: flex; align-items: center; justify-content: center; align-content: center;">
      <form>
        <h1 class="mb-5 fw-normal grotesk">Hello there!</h1>
        <h1 class="h3 fs-5 mb-5 fw-normal grotesk">Please log in to enjoy our features.</h1>
    
        <div class="d-flex flex-column align-items-start mb-3">
          <label for="floatingInput grotesk">Email</label>
          <input type="email" class="form-control grotesk w-100 pt-3 pb-3 ps-4 pe-2" id="floatingInput" placeholder="your@email.com" name="email" [(ngModel)]="email" style="border-radius: 0;">
        </div>
        <div class="d-flex flex-column align-items-start">
          <label for="floatingPassword grotesk">Password</label>
          <input type="password" class="form-control grotesk w-100 pt-3 pb-3 ps-4 pe-2" id="floatingPassword" name="password" [(ngModel)]="password" style="border-radius: 0;">
        </div>
    
        <div class="d-flex justify-content-between mb-4 mt-4 additional-content">
          <div class="checkbox">
            <label>
              <input type="checkbox" class="rounded-0" value="remember-me"> Remember me
            </label>
          </div>
          <div class="checkbox">
            <label class="fw-bold">
              <a class="text-dark" style="cursor: pointer; text-decoration: none;" (click)="navigate('/forgot-password')">Forgot password</a>
            </label>
          </div>
        </div>
            
        <button class="w-100 btn btn-lg btn-dark mb-3" type="button" (click)="logIn()" style="border-radius: 0;">Login</button>

        <button class="w-100 btn btn-lg btn-outline-dark mb-5 google-btn" type="button" (click)="signInWithGoogle()" style="border-radius: 0;"> 
          <svg xmlns="http://www.w3.org/2000/svg" style="margin: 0 10px 3px 0;" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
          </svg>
          Signin with Google
        </button>

        <div class="checkbox mb-5">
          <label>
            Need an account? <a class="text-dark fw-bold" style="cursor: pointer; text-decoration: none;" (click)="navigate('/register')">Register now.</a>
          </label>
        </div>

      </form>
    </main>
  </div>
  <div class="col-7 d-flex align-items-center justify-content-center">
    <img class="heroHero" src="https://images.unsplash.com/photo-1471086569966-db3eebc25a59?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" style="object-fit: cover; width: 99%; overflow: hidden; height: 95vh; border-radius: 15px">
  </div>
</div>


<div class="position-fixed end-0 p-3" style="z-index: 999999; top: 42px;">
  <div id="liveToast" [ngClass]=" status ? 'fade show' : 'fade hide'" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Seek</strong>
      <small>now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Fill all info to continue...
    </div>
  </div>
</div>