.text-bg-blured {
    color: #fff!important;
    background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    opacity: 0.8;
    border-bottom: 1px solid #dee2e6;
}