.navnbar {
    /* From https://css.glass */
    background             : rgba(255, 255, 255, 0.2);
    box-shadow             : 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter        : blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border                 : 1px solid rgba(255, 255, 255, 0.3);
}

.mobile-navbar{
    display: none!important;
}


@media only screen and (max-width: 991px) {
    .nab-nav-link {
        display: none;
    }
    .navContainer{
        display: flex;
        flex-direction: row;
    }
    .mobile-navbar{
        display: flex!important;
    }
    .navnbar{
        display: none;
    }
    .side-menu{
        z-index: 11111111;
        position: absolute;
        top: 56px;
        right: -200px;
        width: 200px;
        height: 185px;

        background             : rgba(255, 255, 255, 0.2);
        border-radius: 0 0 0 10px;
        box-shadow             : 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter        : blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border                 : 1px solid rgba(255, 255, 255, 0.3);
        border-top: none;
        transition: 1s;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    // .burger-menu:hover .side-menu{
    //     transition: 1s;
    //     right: 0;
    // }

    .side-menu-active{
        transition: 1s!important;
        right: 0!important;
    }
    
    .divider{
        border-bottom: 1px solid white;
        margin: 0;
        width: 85%;
        margin-left: 9px;
    }
}

a:hover {
    color: var(--bs-link-hover-color)!important;
}