$text-secondary: #cdcdcd !important;
$normal-font   : 12pt;
$dark: #1A1A1A;
$gray-800: #212121;
$rose: #DB6D91;
$color-announcement-banner-accent: #8f8f8f;

body {
    background-color: $dark;
}

.text-bg-dark {
    background: #1B1B1B;
    color     : $text-secondary;
    font-size : $normal-font;
    border-bottom: 1px solid var(--border-primary);
}

a {
    color          : $text-secondary;
    font-size      : $normal-font;
    text-decoration: none;
}

p {
    font-size: 1rem!important;
}

.gray-800{
    background-color: $gray-800;
}

.rose {
    font-size: 1rem;
    font-weight: 700;
}