<app-navbar></app-navbar>

<div class="container py-4">

  <div class="row">
    <div class="col">

      <div>
        <label for="basic-url" class="form-label">ID</label>
        <div class="input-group mb-3">
          <input type="text" name="id" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
      </div>

      <div>
        <label for="basic-url" class="form-label">Title</label>
        <div class="input-group mb-3">
          <input type="text" name="title" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
      </div>

      <div>
        <label for="basic-url" class="form-label">Description</label>
        <div class="input-group mb-3">
          <input type="text" name="description" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
      </div>

      <div>
        <label for="basic-url" class="form-label">Created At</label>
        <div class="input-group mb-3">
          <input type="text" name="created_at" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
      </div>

    </div>
  </div>

  <div class="my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border" style="overflow: hidden;">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Border hero with cropped image and shadows</h1>
        <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-sm btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-sm btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="https://getbootstrap.com/docs/5.2/examples/heroes/bootstrap-docs.png" alt="" width="720">
      </div>
    </div>
  </div>

  <div class="p-5 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Custom jumbotron</h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-sm btn-light btn-outline-secondary" type="button">Example button</button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark border rounded-3">
        <h2>Change the background</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-sm btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <button class="btn btn-sm btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div>

  <footer class="pt-3 mt-4 text-muted border-top">
    © 2022
  </footer>
</div>