<app-navbar></app-navbar>

<div class="home-hero">
  <img src="assets/images/home-hero.jpg" alt="">
  <div class="container">
    <div class="home-z-index">
      <div class="Iam">
        <p class="heading grotesk fw-bold">Welcome to</p>
        <b>
          <div class="innerIam heading grotesk fw-bold">
            seek<br />
            your learning<br />
            storage<br />
            website<br />
          </div>
        </b>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-column grotesk">
        <h1 class="grotesk mt-5">Last updates</h1>
        <div class="row">
          <div class="col-4">
            <div class="card mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <div class="card-body">
                <div class="d-flex">
                  <div class="d-flex align-items-center justify-content-center">
                    <i class="bi bi-bell fs-4"></i>
                  </div>
                  <div class="d-block ms-3">
                    <h3 class="m-0">Notification name</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <p class="mt-5 grotesk">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis, arcu nec aliquam vestibulum, erat tellus bibendum ex, a feugiat arcu lacus sed purus.
        </p>
        <p class="grotesk">
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque maximus, purus id luctus cursus, turpis enim interdum nisi, eleifend varius mauris nibh eget turpis. Sed eu imperdiet dui. Nunc aliquam vitae ex a pharetra
        </p>
        <p class="grotesk">
          Vivamus laoreet metus ut elit consequat vulputate. Donec non magna in magna fringilla semper. Proin aliquam nunc non velit suscipit dictum
        </p>
        <p class="grotesk">
          In luctus turpis non erat finibus, vitae efficitur nibh dictum. Sed nec diam fringilla tortor imperdiet luctus. In hac habitasse platea dictumst. Maecenas vehicula porta tortor sit amet eleifend. In et varius magna. Nunc fringilla commodo mauris. Nullam bibendum auctor mauris aliquet sagittis.
        </p>

        <hr>
        
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end">
        <div class="firstimg">
          <img src="/assets/images/img1.jpg" alt="">
        </div>
        <div class="secondimg">
          <img src="/assets/images/img2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>