@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif!important;
}

h1 {
    font-size: 3em!important;
}

h2 {
    font-size: 2em!important;
}

p {
    font-size: 13px!important;
}