<app-navbar></app-navbar>
<div class="wrapper">
  <div class="container">
    <h1 class="grotesk">Nova publicação</h1>
    <input class="form-control" type="text" placeholder="Título" [(ngModel)]="title" name="title">
    <div class="mt-3">
      <textarea class="form-control" rows="3" placeholder="Descrição" [(ngModel)]="description" name="description"></textarea>
    </div>
    <div class="text-end mt-4">
      <button type="button" onclick="history.back()" class="btn btn-outline-dark rounded-0 ps-3 pe-3 me-3"> <i class="bi bi-chevron-left"></i> Voltar</button>
      <button type="button" (click)="submit()" class="btn btn-dark rounded-0 ps-5 pe-5">Criar</button>
    </div>

  </div>
</div>
<app-footer></app-footer>

<div class="position-fixed end-0 p-3" style="z-index: 999999; top: 42px;">
  <div id="liveToast" [ngClass]=" status ? 'fade show' : 'fade hide'" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Seek</strong>
      <small>agora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Preencha todas as informações para prosseguir.
    </div>
  </div>
</div>