<app-navbar></app-navbar>
<div class="wrapper">
  <div class="container">

    <div class="mb-5">
      <h1 class="grotesk">All Tasks</h1>
  
      

      <div class="row">
        <div class="col-4" *ngFor="let task of taskList" (click)="getById(task)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <div class="card mb-3" >
            <div class="card-body">
              <h5 class="text-capitalize">{{task.title}}</h5>
              <p class="m-0 text-elipsis">{{task.description}}</p>
              <span class="m-0 badge text-bg-dark rounded-0">{{task.created_at}}</span>
              <button class="btn btn-black delete-btn" (click)="delete(task)"><i class="bi bi-trash-fill text-wihte"></i></button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card card-no-hover mb-3" *ngIf="taskList.length == 0" >
        <div class="card-body d-flex flex-column placeholder-glow">
          <h5 class="placeholder col-1"></h5>
          <p class="placeholder col-3  m-0"></p>
        </div>
      </div>
      <div class="card card-no-hover mb-3" *ngIf="taskList.length == 0" >
        <div class="card-body d-flex flex-column placeholder-glow">
          <h5 class="placeholder col-1"></h5>
          <p class="placeholder col-3  m-0"></p>
        </div>
      </div>
      <div class="card card-no-hover mb-3" *ngIf="taskList.length == 0" >
        <div class="card-body d-flex flex-column placeholder-glow">
          <h5 class="placeholder col-1"></h5>
          <p class="placeholder col-3  m-0"></p>
        </div>
      </div>
      <div class="card card-no-hover mb-3" *ngIf="taskList.length == 0" >
        <div class="card-body d-flex flex-column placeholder-glow">
          <h5 class="placeholder col-1"></h5>
          <p class="placeholder col-3  m-0"></p>
        </div>
      </div>

      <div class="text-end mt-4">
        <button type="button" (click)="navigate('/student-manager/form')" class="btn btn-dark rounded-0 ps-5 pe-5"> <i class="bi bi-plus"></i> Adicionar</button>
      </div>

    </div>

  </div>
</div>
<app-footer></app-footer>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="staticBackdropLabel">Exam details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm">
          <div class="row mb-3">
            <div class="col-12">
              <label for="form" class="form-label">Title</label>
              <input type="email" class="form-control" id="form" formControlName="title">
            </div>
          </div>
          <div class="mb-3">
            <label for="form" class="form-label">Description</label>
            <input type="email" class="form-control" id="form" formControlName="description">
          </div>
          <div class="mb-3">
            <label for="form" class="form-label">Correct Answer</label>
            <input type="email" class="form-control text-uppercase" id="form" formControlName="correct_answer">
          </div>
        </form>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-dark rounded-0 btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark rounded-0 btn-sm">Update</button>
      </div>
    </div>
  </div>
</div>